<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Character Profile</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
  </head>
    <body>
  <h1>hello uwu</h1>
      <div id="content">

      </div>
    </body>
  <script type="text/javascript">
      var character_data= (<%- JSON.stringify(sendData) %>);
      if (character_data) {
        //finds the existing content box and makes it a js object
        var contentBox = document.getElementById('content')

        //create a new box just for profile stats
        let profileBox = document.createElement('div')
        profileBox.id = 'profileBox'
        //put it in the contentBox
        contentBox.append(profileBox)

        //creates an h2, put the character name in the content box
        let nameHeader = document.createElement('h2')
        contentBox.append(nameHeader)
        nameHeader.innterText = character_data.name
        contentBox.append(nameHeader)


        //put all stats into one header in the profile box
        let statsHeader = document.createElement('h3')
        statsHeader.innerText = 'Stats'
        let statsBox = document.createElement('div')
        statsBox.innerText = JSON.stringify(character_data.stats)
        profileBox.append(statsHeader)
        profileBox.append(statsBox)

        //object.keys() returns a list of all property NAMES in a givent object
        //for... of will loop through each property NAME/key
        for (var slot of Object.keys(character_data.equipment)){
          let slotHeader = document.createElement('h3')
          slotHeader.innerHTML =  slot
          //insert daya of the slot into a box
          let slotBox = document.createElement('div')
          slotBox.innerHTML = JSON.stringify(character_data.equipment[slot])
          //add the equipment slot to the profile box
          profileBox.append(slotHeader)
          profileBox.append(slotBox)

        }

      }

  </script>
<!-- use accordion widget from jqeryUi -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script>
$( function() {
  $( "#profileBox" ).accordion({
    collapsible: true
  });
} );
</script>
</html>
